:root {
  --primary: #b3d608;
  --secondary: #de2e09;
  --tertiary: #29199a;
}

* {
  font-family: 'Titillium Web', sans-serif;
}

.App {
  display: grid;
  grid-template-columns: 10em auto;
  min-height: 100vh;
}

.App > nav {
  display: flex;
  flex-direction: column;
  background-color: slategray;
}

.App > nav > h1 {
  align-self: center;
}

.App > nav > button {
  margin: 5px 2px;
  background-color: var(--primary);
  border: none;
}

.App > div {
  display: flex;
  flex-direction: column;
}

button {
  border-width: 2px;
  border-style: solid;
  border-radius: .5em;
  background-color: transparent;
  border-color: transparent;
  font-weight: 700;
}

button.good {
  --button-main: var(--primary);
  --button-sub: var(--tertiary);
}

button.bad {
  --button-main: var(--secondary);
  --button-sub: var(--primary);
}

button.primary {
  background-color: var(--button-main);
  color: var(--button-sub);
}

button.secondary {
  color: var(--button-main);
  border-color: var(--button-sub);
}

table, th, td {
  border: 1px solid;
}

table {
  float: left;
}

#decrementInventory > form, #addInventory > form, #addTrackable > form {
  display: flex;
  flex-direction: column;
}

#decrementInventory > form > *, #addInventory > form > *, #addTrackable > form > * {
  margin-bottom: 10px;
  margin-top: 0px;
}

#showTrackableDetails {
  width: auto;
  padding: 0;
  margin: 0;
  left: 10em;
  right: 0;
}

#showTrackableDetails > div {
  display: grid;
  grid-template-columns: 50%;
  grid-column-gap: 5px;
}

#showTrackableDetails > div > .details {
  grid-column: 1 / span 2;
}

#showTrackableDetails > div > .lots {
  grid-column: 1;
  margin-left: 5px;
}

#showTrackableDetails > div > .log {
  grid-column: 2;
  margin-right: 5px;
}

#showTrackableDetails > button {
  float: right;
}

#showTrackableDetails > h2 {
  display: inline-block;
}