:root {
  --primary: gray;
  --secondary: yellow;
}

.App {
  display: grid;
  grid-template-columns: 10em auto;
  min-height: 100vh;
}

.App > nav {
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
}

.App > nav > h1 {
  align-self: center;
}

.App > nav > button {
  margin: 5px 2px;
  background-color: var(--secondary);
  border: none;
}

.App > div {
  display: flex;
  flex-direction: column;
}

table, th, td {
  border: 1px solid;
}

table {
  float: left;
}

#decrementInventory > form {
  display: flex;
  flex-direction: column;
}

#showTrackableDetails {
  width: auto;
  padding: 0;
  margin: 0;
  left: 10em;
  right: 0;
}

#showTrackableDetails > div {
  display: grid;
  grid-template-columns: 50%;
  grid-column-gap: 5px;
}

#showTrackableDetails > div > .details {
  grid-column: 1 / span 2;
}

#showTrackableDetails > div > .lots {
  grid-column: 1;
  margin-left: 5px;
}

#showTrackableDetails > div > .log {
  grid-column: 2;
  margin-right: 5px;
}
